.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/node_modules # Katalog zależności npm/yarn/pnpm
/dist # Katalog zbudowanych plików wynikowych
/.idea # Katalog plików konfiguracyjnych IntelliJ IDEA
/.vscode # Katalog plików konfiguracyjnych Visual Studio Code


.DS_Store # Plik konfiguracyjny systemu macOS
.env.local # Plik konfiguracyjny dla środowiska lokalnego
.env..local # Pliki konfiguracyjne dla różnych środowisk lokalnych
npm-debug.log # Logi debugowania npm
yarn-debug.log* # Logi debugowania yarn
yarn-error.log* # Logi błędów yarn
pnpm-debug.log* # Logi debugowania pnpm